@media only screen and (max-width: 1024px)
{
    .row{
        margin: 0 20px;
    }
    .hero-text-box
    {
        width:90%;
    }
    .main-nav
    {
        display: none;

    }
    html
    {
        font-size: 57.5%;
    }
    .client-photo
    {
       width: 100%;
       float:none;
       text-align: center;
    }
    .client-review
    {
        width: 100%;
       float:none;
       text-align: center;
    }
    .contact-section form
{

    width:100%;
    margin-left: 0;
    
}

}
@media only screen and (max-width: 980px)

{
    .span_1_of_4 
    
    {
       width:49.2%;
    }
    .span_1_of_4:nth-child(3)
    {
        margin-left: 0;
    }
    .services-section
    {
        margin-left: 0;
    }
    html
    {
        font-size: 62.5%;
    }


}